include *.txt *.rst
include test/startup.py
include LICENSE
include doc/Doxygen/*
include doc/Doxygen/html/*
include doc/xml/*
recursive-include examples *.*
recursive-include pylmflib *.csv *.test *.pl *.xsl *.xml
prune examples/*/result
prune examples/*/obj
prune examples/*/result-1.0
prune examples/*/mp3

# recursive-exclude
# exclude
# global-include
# global-exclude
# graft
