<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for Bambara -->
<Config>
    <Language>
        <lang att="vernacular" val="bam"/>
        <lang att="English" val="eng"/>
        <lang att="national" val="fra"/>
        <lang att="regional" val="deu"/>
    </Language>
    <Font>
        <!-- Output -->
        <!-- Fonts to use in LaTeX format -->
        <font att="vernacular" var="text">"\ipa{" + text + "}"</font>
        <font att="English" var="text">text</font>
        <font att="national" var="text">"\\textbf{" + text + "}"</font>
        <font att="regional" var="text">"\\textit{" + text + "}"</font>
    </Font>
    <LMF>
        <LexicalResource dtdVersion="16">
            <GlobalInformation>
                <feat att="languageCode" val="ISO-639-3"/>
                <feat att="author" val=""/>
                <feat att="version" val="0.1"/>
                <feat att="lastUpdate" val="2015-10-21"/>
                <feat att="license" val="GPL"/>
                <feat att="characterEncoding" val="UTF-8"/>
                <feat att="dateCoding" val="ISO-8601"/>
                <feat att="creationDate" val="2015-10-21"/>
                <feat att="projectName" val="Bambara"/>
                <feat att="description" val="This is a demonstration of Bambara lexicon."/>
            </GlobalInformation>
            <Lexicon id="Bambara">
                <feat att="language" val="bam"/>
                <feat att="languageScript" val=""/>
                <feat att="label" val="Bambara dictionary"/>
                <feat att="lexiconType" val="dictionary bam-eng-fra-deu"/>
                <feat att="entrySource" val="./examples/Bambara/BambaraDemo.db"/>
                <!-- Relative path to audio files -->
                <feat att="localPath" val=""/>
            </Lexicon>
        </LexicalResource>
    </LMF>
    <MDF>
        <!-- Input -->
        <!-- Mapping from 'ps' MDF marker value to LMF part of speech LexicalEntry attribute value -->
        <ps_partOfSpeech ps="inter" partOfSpeech="interjection"/>
        <ps_partOfSpeech ps="adj.pred" partOfSpeech="adjective"/>
        <ps_partOfSpeech ps="n" partOfSpeech="noun"/>
        <ps_partOfSpeech ps="vt" partOfSpeech="transitive verb"/>
        <!-- Mapping from 'pdl' MDF marker value to LMF paradigmLabel Paradigm attribute value -->
        <!-- pdl_paradigmLabel pdl="" paradigmLabel=""/ -->
        <!-- Mapping from MDF markers to LMF attributes -->
        <mdf_lmf marker="gg" var="gg, lexical_entry">lexical_entry.set_gloss(gg, language="deu")</mdf_lmf>
        <!-- Output -->
        <!-- Order in which MDF markers must be written -->
        <mdf_order>
            <!-- lexeme -->
            <lx/>
            <!-- Audio -->
            <sf/>
            <!-- homonym number -->
            <hm/>
            <!-- lexical citation -->
            <lc/>
            <!-- phonetic -->
            <ph/>
            <!-- subentry -->
            <se/>
            <!-- part of speech -->
            <ps/>
            <!-- part of speech-national language -->
            <pn>
                <!-- sense number -->
                <sn/>
                <!-- gloss-vernacular -->
                <gv/>
                <!-- definition-vernacular -->
                <dv/>
                <!-- gloss-English -->
                <ge/>
                <!-- reverse-English -->
                <re/>
                <!-- word level gloss-English -->
                <we/>
                <!-- definition-English -->
                <de/>
                <!-- gloss-national language -->
                <gn/>
                <!-- reverse-national language -->
                <rn/>
                <!-- word level gloss-national language -->
                <wn/>
                <!-- definition-national language -->
                <dn/>
                <!-- gloss-regional lang. (with \gn) -->
                <gr/>
                <!-- reverse-regional lang. (with \rn) -->
                <rr/>
                <!-- word-level gloss-regional (with \wn) -->
                <wr/>
                <!-- definition-regional lang. (with \dn) -->
                <dr/>
                <!-- gloss-French -->
                <gf/>
                <!-- literal meaning -->
                <lt/>
                <!-- scientific name -->
                <sc>
                    <!-- reference for example -->
                    <rf/>
                    <!-- example sentence-vernacular -->
                    <xv/>
                    <!-- example sentence-English -->
                    <xe/>
                    <!-- example sentence-national language -->
                    <xn/>
                    <!-- example sent.-regional (with \xn) -->
                    <xr/>
                    <!-- example sentence-interlinear gloss -->
                    <xg/>
                    <!-- example comment -->
                    <xc/>
                </sc>
                <!-- usage-vernacular -->
                <uv/>
                <!-- usage-English -->
                <ue/>
                <!-- usage-national language -->
                <un/>
                <!-- usage-regional (combines with \un) -->
                <ur/>
                <!-- encyclopedic-vernacular -->
                <ev/>
                <!-- encyclopedic-English -->
                <ee/>
                <!-- encyclopedic-national language -->
                <en/>
                <!-- encyclopedic-regional language -->
                <er/>
                <!-- only (restrictions)-vernacular -->
                <ov/>
                <!-- only (restrictions)-English -->
                <oe/>
                <!-- only (restrictions)-national language -->
                <on/>
                <!-- only (restrictions)-regional (with \on) -->
                <or/>
            </pn>
            <!-- lexical function label-English -->
            <lf/>
            <!-- lexical function value-vernacular language -->
            <lv/>
            <!-- lexical function value-English -->
            <le/>
            <!-- lexical function value-national language -->
            <ln/>
            <!-- lexical function value-regional language -->
            <lr/>
            <!-- synonym -->
            <sy/>
            <!-- antonym -->
            <an/>
            <!-- morphemic representation -->
            <mr/>
            <!-- cross-reference -->
            <cf/>
            <!-- cross-reference-English gloss -->
            <ce/>
            <!-- cross-reference-national gloss -->
            <cn/>
            <!-- cross-reference-regional gloss -->
            <cr/>
            <!-- main entry form -->
            <mn>
                <!-- variant form -->
                <va/>
                <!-- variant comment-English -->
                <ve/>
                <!-- variant comment-national language -->
                <vn/>
                <!-- variant comment-regional language -->
                <vr/>
            </mn>
            <!-- borrowed word -->
            <bw/>
            <!-- etymology -->
            <et/>
            <!-- etymology-gloss -->
            <eg/>
            <!-- etymology-source -->
            <es/>
            <!-- etymology-comment -->
            <ec/>
            <!-- paradigm -->
            <pd>
                <!-- paradigm label-English -->
                <pdl/>
                <!-- paradigm form-vernacular language -->
                <pdv/>
                <!-- paradigm form-English gloss -->
                <pde/>
                <!-- paradigm form-national gloss -->
                <pdn/>
                <!-- paradigm form-regional gloss -->
                <pdr/>
            </pd>
            <!-- singular form -->
            <sg/>
            <!-- plural form -->
            <pl/>
            <!-- reduplication -->
            <rd/>
            <!-- 1st person singular -->
            <_1s/>
            <!-- 2nd person singular -->
            <_2s/>
            <!-- 3rd person singular -->
            <_3s/>
            <!-- singular non-human/non-animate -->
            <_4s/>
            <!-- 1st person dual -->
            <_1d/>
            <!-- 2nd person dual -->
            <_2d/>
            <!-- 3rd person dual -->
            <_3d/>
            <!-- dual non-human/non-animate -->
            <_4d/>
            <!-- 1st person plural-general -->
            <_1p/>
            <!-- 1st person plural-exclusive -->
            <_1e/>
            <!-- 1st person plural-inclusive -->
            <_1i/>
            <!-- 2nd person plural -->
            <_2p/>
            <!-- 3rd person plural -->
            <_3p/>
            <!-- plural non-human/non-animate -->
            <_4p/>
            <!-- table -->
            <tb/>
            <!-- semantic domain -->
            <sd/>
            <!-- index of semantics -->
            <is/>
            <!-- thesaurus -->
            <th/>
            <!-- bibliographic reference -->
            <bb/>
            <!-- picture -->
            <pc/>
            <!-- notes-general -->
            <nt/>
            <!-- notes-phonology -->
            <np/>
            <!-- notes-grammar -->
            <ng/>
            <!-- notes-discourse -->
            <nd/>
            <!-- notes-anthropology -->
            <na/>
            <!-- notes-sociolinguistics -->
            <ns/>
            <!-- notes-questions -->
            <nq/>
            <!-- source -->
            <so/>
            <!-- status -->
            <st/>
            <!-- datestamp -->
            <dt/>
        </mdf_order>
        <!-- Mapping from LMF attributes to MDF markers -->
        <lmf_mdf marker="gg" var="sense">sense.find_glosses("deu")</lmf_mdf>
    </MDF>
    <LaTeX>
        <!-- Path to xelatex binary -->
        <xelatex/>
        <!-- Mapping between LMF part of speech LexicalEntry attribute value and LaTeX layout (output) -->
        <!-- partOfSpeech_tex partOfSpeech="" tex=""/ -->
        <!-- Mapping between LMF paradigmLabel Paradigm attribute value and LaTeX layout (output) -->
        <!-- paradigmLabel_tex paradigmLabel="" tex=""/ -->
        <!-- LaTeX commands -->
    </LaTeX>
</Config>
